extends layout

block metadata 
  meta(name="description" content="Bầu Spa được dẫn dắt bởi bác sĩ cùng đội ngũ 100% điều dưỡng, y sĩ cam kết chăm sóc cho mẹ và bé chuẩn y khoa. Đội ngũ nhân viên chăm sóc tận nhà cho mẹ ở cử và bé sơ sinh.")
  meta(name="keywords" content="Bầu Spa, spa bầu, chăm sóc mẹ và bé, dịch vụ spa bầu, spa cho mẹ, spa cho bé, spa cho bà bầu")
  meta(name="language" content="vietnamese")
  meta(name="author" content="Bầu Spa")

block content
  #home
    section
      //- .banner.container-fluid.p-0.position-relative
      //-   picture 
      //-     img(
      //-       class="img-fluid"
      //-       src="images/home/home-background.png"
          )
      #carouselBanner.carousel.slide(data-bs-ride="carousel")
        .carousel-inner
          .carousel-item.active(data-bs-interval="5000")
            a(href="#tu-van-dich-vu")
              img(src="images/home/home-background.png" class="d-block w-100" title="Tư vấn dịch vụ Bầu Spa" alt="dịch vụ Bầu Spa")
          .carousel-item(data-bs-interval="3000")
            a(href="dich-vu/boi-thuy-lieu")
              img(src="images/home/banner-2.jpg" class="d-block w-100" title="Bơi thủy liệu cho bé" alt="Bơi thủy liệu cho bé")
          .carousel-item(data-bs-interval="3000")
            a(href="dich-vu/cham-soc-tre-so-sinh-tai-nha")
              img(src="images/home/banner-3.jpg" class="d-block w-100" title="Chăm sóc trẻ sơ sinh tại nhà" alt="Chăm sóc trẻ sơ sinh tại nhà")
        button(class="carousel-control-prev" type="button" data-bs-target="#carouselBanner" data-bs-slide="prev")
          span(class="carousel-control-prev-icon" aria-hidden="true")
          span(class="visually-hidden") Previous
        button(class="carousel-control-next" type="button" data-bs-target="#carouselBanner" data-bs-slide="next")
          span(class="carousel-control-next-icon" aria-hidden="true")
          span(class="visually-hidden") Next

    section
      .container-lg.my-5
        .row
          .col-12.col-md-8.text-center
            h2 CHĂM SÓC CHO MẸ BẦU 
            a(href="dich-vu")
              img.mb-4.d-md-none.border.rounded.shadow(src="images/home/mom-care.jpg" alt="Dịch vụ chăm sóc mẹ bầu" style="width: 40%")
            p Sức khỏe cho mẹ bầu ảnh hưởng trực tiếp đến sự phát triển của thai nhi. Vì thế việc chăm sóc sức khỏe Mẹ bầu là rất quan trọng để quá trình mang thai và sinh nở được an toàn và dễ dàng
            .d-flex.justify-content-evenly
              .rounded.border.mb-3.shadow-sm.px-3
                .d-flex.flex-column.justify-content-evenly.align-items-center
                  a(href="dich-vu/massage-toan-than-thu-gian")
                    img.py-2(src="images/home/pregnant_icon.png" alt="massage toàn thân thư giãn") 
                    p Massage toàn thân 
              .rounded.border.mb-3.shadow-sm.px-3
                .d-flex.flex-column.justify-content-evenly.align-items-center
                  a(href="dich-vu/massage-organic-da-nong")
                    img.py-2(src="images/home/stone_icon.jpg" alt="massage organic đá nóng")
                    p Massage đá nóng
              .rounded.border.mb-3.shadow-sm.px-3
                .d-flex.flex-column.justify-content-evenly.align-items-center
                  a(href="dich-vu/massage-ban-chan-thu-gian")
                    img.py-2(src="images/home/foot_icon.jpg" alt="massage bàn chân thư giãn")
                    p Massage bàn chân
          .col-4.d-none.d-md-block
            .text-center
              a(href="dich-vu")
                img.rounded.shadow(src="images/home/mom-care.jpg" alt="Dịch vụ chăm sóc mẹ bầu" style="width: 80%")

    section#tu-van-dich-vu
      .container-lg.rounded.bg-primary.py-5.px-4 
        .row
          .col-12.col-sm-5
            h3 Liên hệ ngay để được tư vấn
            p Nhắn tin trực tiếp qua fanpage: 
              a.text-success(href="https://www.facebook.com/bauspavn" target="_blank") Bầu Spa
            p Hotline: 
              a.text-success(href="tel:0389639908") 038 963 9908
          .col-12.col-sm-7
            form.row.g-3
              .col-md-6
                label(for="name" class="form-label") Họ Tên
                input(type="text" class="form-control" id="name")
              .col-md-6
                label(for="phone" class="form-label") Số điện thoại
                input(type="tel" class="form-control" id="phone")
              .col-12
                label(for="content" class="form-label") Thông tin cần tư vấn
                textarea(rows="8" name="content" class="form-control" id="content") 
              .col-12
                button(type="submit" class="btn btn-success") Gửi 

    section 
      .container-lg.my-5
        h2.text-center Cảm nhận của các mẹ
        .row.text-center
          .col-12.col-sm-4
            img.border.rounded-circle(src="images/home/customer_1.jpg" style="width: 125px")
            h5 Chị Diễm Trương
            p 5 sao cho dịch vụ, dù mình chỉ đi kèm với mẹ bé, tuy nhiên lại rất ấn tượng Bác sĩ, vừa tâm lý và kỹ thuật lại tốt, quan trọng là nhẹ nhàng và khéo léo với em bé nữa.
          .col-12.col-sm-4
            img.border.rounded-circle(src="images/home/customer_2.jpg" style="width: 125px")
            h5 Chị Cindy Nguyen
            p Mẹ cám ơn Bầu Spa đã cho mẹ có những phút giây thư giãn tút tát lại nhan sắc sau sinh. Những trải nghiệm êm dịu đầu đời, những bài tập, những buổi sáng đc mát xa giúp con mau cứng cáp khoẻ mạnh ngủ ngoan bú giỏi.
          .col-12.col-sm-4
            img.border.rounded-circle(src="images/home/customer_3.jpg" style="width: 125px")
            h5 Chị Lương Ngọc Bích
            p Địa chỉ tin cậy để bé và mẹ trải nghiệm, vote 5 sao.
    //- section.intro.container-md.mt-5
    //-   .row.row-cols-2.row-cols-lg-4.g-4
    //-     .col
    //-       .intro-box.shadow
    //-         img.img-fluid(src="images/home/mom.jpg")
    //-         .intro-info       
    //-           .caption       
    //-             h4 Chăm sóc mẹ bầu
    //-     .col
    //-       .intro-box.shadow
    //-         img.img-fluid(src="images/home/baby.jpg")
    //-         .intro-info       
    //-           .caption       
    //-             h4 Chăm sóc sau sinh
    //-     .col
    //-       .intro-box.shadow
    //-         img.img-fluid(src="images/home/pregnancy.jpg")
    //-         .intro-info       
    //-           .caption.p-0     
    //-             h4 Bơi thủy lực
    //-     .col
    //-       .intro-box.shadow
    //-         img.img-fluid(src="images/home/mom.jpg")
    //-         .intro-info       
    //-           .caption       
    //-             h4 Thông tắc tia sữa