extends layout

block content
  #home
    .banner.container-fluid.p-0.position-relative
      picture 
        img(
          class="img-fluid"
          src="images/home/home-background.png"
        )

    .intro.container-md.mt-5
      .row.row-cols-2.row-cols-lg-4.g-4
        .col
          .intro-box
            img.img-fluid(src="images/home/mom.jpg")
            .intro-info       
              .caption       
                h4 Description
                p Some text
        .col
          .intro-box
            img.img-fluid(src="images/home/baby.jpg")
            .intro-info       
              .caption       
                h4 Description
                p Some text
        .col
          .intro-box
            img.img-fluid(src="images/home/pregnancy.jpg")
            .intro-info       
              .caption       
                h4 Description
                p Some text
        .col
          .intro-box
            img.img-fluid(src="images/home/mom.jpg")
            .intro-info       
              .caption       
                h4 Description
                p Some text