extends ../layout 

block css 
  
  link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css")
  link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css")

block content 
  h1= title


  .bg-dark
    .container-lg.autoplay
      div.bg-primary content 1
      div content 2
      div.bg-primary content 3
      div content 4
      div.bg-primary content 5
      div content 6
  
  

block javascript 
  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js")

  script(type="text/javascript"). 
    $(document).ready(function(){
      $('.autoplay').slick({
        slidesToShow: 5,
        slidesToScroll: 1,
        arrows: true,
        dots: true,
      });
    });