.container-fluid.bg-dark
  .container-lg.d-lg-flex.mt-5
    .container.bg-primary
      ul.list-unstyled
        li text 1
        li text 1
        li text 1
    .container.bg-primary
      ul.list-unstyled
        li text 2
        li text 2
        li text 2
.container 
  p.text-center copyright
  
