@use '../custom' as *;
@use '../components/mixins' as *;

.menu {
  font-family: 'Lora', serif;
  @include gradient;

  li {
    padding: 0 0.7rem;

    a {
      color: $white !important;
      text-transform: capitalize;
      font-size: 1.5rem;
    }
  }
}