@use '../custom' as *;
@use '../components/mixins' as *;

.img-logo {
  width: 5rem;

  @include media-breakpoint-down(sm) {
    width: 3.25rem;
  }
}

.btn-rounded {
  position: relative;
  padding: 0.9375rem 4.25rem 0.9375rem 1.25rem;
  @include media-breakpoint-down(sm) {
    padding: 0.5rem 2.75rem 0.5rem 0.75rem;
    font-size: 0.75rem;
  }
  font-weight: 700;
  margin: 0;
  border: 0.1rem solid rgba($white, 0.6);
  background-color: $white;

  span {
    position: absolute;
    background-color: $primary;
    width: 2.5rem;
    height: 2.5rem;
    @include media-breakpoint-down(sm) {
      width: 1.75rem;
      height: 1.75rem;
    }
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    border-radius: 50%;

    i {
      color: $white;
      font-size: 1rem;
      line-height: 2.5rem;
      @include media-breakpoint-down(sm) {
        line-height: 1.75rem;
        font-size: 0.75rem;
      }
    }
  }

  &:hover {
    @include gradient;
    color: $white;
    
    span {
      background-color: rgba($black, 0.6);
    }
  }
}